/* MOBILE STYLES */
@media only screen and (max-width: 500px)
{
	#container {
		width: 320px;
		padding: 0px;	
	}
	#menu_wrapper { 
		width: 320px;
	}
	#page_body {
		width: 285px;
		float: left;
	}
	nav{
		width: 316px;
		height: auto;	
	}
	article {
		float: left;
		width: 285px;	
	}
	article img {
		max-width: 285px;	
	}
	article .featuredimg {
		width: 285px;
	}
	.readmore {
		width: 285px;	
	}
	#comments {
		width: 285px;
	}
	#pagination {
		float: left;
	}
	#right_wrapper {
		display: none;
	}
	.bottom_shadow {
		width: 320px;
	}
	footer {
		padding: 5px;
	}
}