/* ADMIN STYLES */
/* MAIN STYLES */
html {
	padding: 0px;
	margin: 0px;
}

body {
	background: #000;
	color: #CCC;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
}

a:link, a:visited {
	color: #999;	
}

a:hover {
	color: #DDD;
}

/* CONTAINER STYLES */
#container {
	max-width: 100%;
	margin: 0 auto;
	padding: 15px 0px 0px 20px;
}

#body_container {
	display: table;	
}

section {
	background: #FFF;
	color: #000;
	padding: 15px 15px 15px 15px;
	display:table-cell;
	width: 90%;
}

section h2 {
	padding: 0px;
	margin: 0px;
}

section h3 {
	padding: 0px;
	margin: 0px;
}

section a:link, section a:visited {
	color: #222;
}

section a:hover {
	color: #999;	
}

/* HEADER */
header h1 {
	padding: 0px;
	margin: 0px;
}

header h1 a {
	text-decoration: none;
}

header h2 {
	padding: 0px 0px 20px 0px;
	margin: 0px;
}

/* NAV */
nav {
	display:table-cell;
	width: 200px;
	height: 100%;
	overflow: auto;
	background: #000;
	color: #CCC;
	margin-right: 15px;	
}

nav a {
	color: #FFF;
	text-decoration: none;		
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav ul li {
	padding: 10px 5px 10px 5px;
	display: block;	
}

nav li > ul {
	display: none;
}

nav li:hover > ul {
	display: block;
}

nav li li > ul {
	display: none;
}

nav li li:hover > ul {
	display: block;

}

/* DASHBOARD */
.last5 {
	float: left;
	width: 250px;
	margin: 15px;	
}

/* FOOTER */
footer {
	clear: both;
	padding: 15px 0px 15px 0px;
}