/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../../images/fonts/flexslider-icon.eot');
	src:url('../../images/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../../images/fonts/flexslider-icon.woff') format('woff'),
		url('../../images/fonts/flexslider-icon.ttf') format('truetype'),
		url('../../images/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
	margin: 0;
	padding: 5px 15px 15px 15px;
	background: url(../../images/theme/default/slider_bg_loop.jpg) repeat top left;
	border:1px solid #23313c;
	-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.flexslider h3{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	font-family:'Oswald', Helvetica,  Arial, sans-serif;
	color:#fff;
	display:block;
	width:580px;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	padding:7px 0px 10px 25px;
	background:url(../../images/theme/georgewhitcher/hbullet.png) left top no-repeat;
	margin:0px 0px 0px 0px;
	clear: both;
}

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: block; border-radius: 5px; border: 1px solid #1c98ff; max-width: 920px; margin: 0 auto;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 0px; border: 0px solid #fff; position: relative; zoom: 1; }
.flex-viewport { height: auto; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { height: auto; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: #1c98ff; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; text-align: center; margin: -25px 0px 5px 0px; z-index: 11; position: absolute;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 15px; height: 5px; display: block; #30b4dd; border: 2px solid #0b87dd; cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover {  background: #40c5ff; border: 2px solid #1c98ff; }
.flex-control-paging li a.flex-active { background: #40c5ff; border: 2px solid #1c98ff;  cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


